.banner {
  &-hero {
    width: 50%;
    h1 {
      font-size: 6.4rem;
      display: inline-block;
    }
    p {
      font-size: 2.4rem;
    }
    &-cursor {
      display: inline-block;
      width: 2px;
      background-color: white;
      height: 6.4rem;
      margin-left: 8px;
      animation: blink 1.2s linear infinite alternate;
    }
    @keyframes blink {
      0% {opacity: 1;}
      40% {opacity: 1;}
      60% {opacity: 0;}
      100% {opacity: 0;}
    }
  }
}
